body {
  font-family: "Lucida Grande", Verdana, "Bitstream Vera Sans", "Lucida Sans Unicode", sans-serif;
  background-color: gray;
  }
.whitebox {
  background-color: white;
  margin:10px;
  padding: 5px;
  border: 1px solid black;
  }
a.directory {
  margin: 5px;
}
img {
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
}
.imgteaser {
    margin: 0;
    overflow: hidden;
    float: left;
    position: relative;
    height: 235px
}
.imgteaser a {
    text-decoration: none;
    float: left;
}
.imgteaser a:hover {
    cursor: pointer;
}
.imgteaser a img {
    float: left;
    margin: 10px;
    border: none;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
}
.imgteaser a:hover .desc{
    display: block;
    font-size: 0.8em;
    padding: 10px 0;
    background: #111;
    filter:alpha(opacity=75);
    opacity:.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /*--IE 8 Transparency--*/
    color: #fff;
    position: absolute;
    top: 11px;
    left: 11px;
    padding: 10px;
    margin: 0;
/*    width: 200px;*/
    border-top: 1px solid #999;
}
.imgteaser a:hover .desc strong {
    display: block;
    margin-bottom: 5px;
    font-size:1.5em;
}
.imgteaser a .desc {    display: none; }
.imgteaser a:hover .more { visibility: hidden;}

/* spacer element to wrap container around all divs */
div.spacer {
  clear: both;
}
